/* Additional CSS for Section 2 */

main {
  position: relative;
  width: 100%;
  height: 820px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.item {
  width: 210px;
  height: 350px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(0%);
  transform: translateX(100%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
}

.item:nth-child(1), .item:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}

.item:nth-child(3) { left: 50%; }
.item:nth-child(4) { left: calc(50% + 220px); }
.item:nth-child(5) { left: calc(50% + 440px); }
.item:nth-child(6) { left: calc(50% + 660px); opacity: 0; }

.content-2 {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: block;
}

.content-2 .title {
  text-align: center;
  font-size: 52px;
  font-family: 'JSDongkang-Regular';
}

.content-2 .description {
  line-height: 1.7;
  margin: 1rem 0 3rem; /* 아래 여백을 1.5rem에서 2rem으로 변경 */
  font-size: 20px;
  font-family: 'JSDongkang-Regular';
}

.content-2 button {
  width: 200px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
  margin-left: 0;
  font-size: 25px;
  font-weight: 1000;
  font-family: 'DungGeunMo';
  display: block;
  transform: translateX(50%) ;
}

.item:nth-of-type(2) .content-2 {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
  }
  100% {
      opacity: 1;
      filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
}

.nav .btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0 0.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}

@media (width > 650px) and (width < 900px) {
  .content-2 .title { font-size: 1rem; }
  .content-2 .description { font-size: 0.7rem; }
  .content-2 button { font-size: 0.7rem; }
  .item {
      width: 160px;
      height: 270px;
  }
  .item:nth-child(3) { left: 50%; }
  .item:nth-child(4) { left: calc(50% + 170px); }
  .item:nth-child(5) { left: calc(50% + 340px); }
  .item:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
}

@media (width < 650px) {
  .content-2 .title { font-size: 0.9rem; }
  .content-2 .description { font-size: 0.65rem; }
  .content-2 button { font-size: 0.7rem; }
  .item {
      width: 130px;
      height: 220px;
  }
  .item:nth-child(3) { left: 50%; }
  .item:nth-child(4) { left: calc(50% + 140px); }
  .item:nth-child(5) { left: calc(50% + 280px); }
  .item:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
}

#footer1 {
  height: 1px;
}

/* 페이지 선택 시 버튼 표시 */
.page-selected .content-2 button {
  display: block;
}


     /* main 추가된 CSS */
     .title-top {
      font-family: 'UhBeeJJIBBABBA';
      font-size: 60px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      position: relative;
      margin-top: 20px;
  }

  .title-bottom {
      font-family: 'UhBeeJJIBBABBA';
      font-size: 60px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      position: relative;
      margin-top: 20px;
  }

  #scrollToTop {
      display: none;
      /* 기본적으로 버튼 숨김 */
      position: fixed;
      /* 버튼을 화면의 특정 위치에 고정 */
      bottom: 20px;
      /* 화면 하단에서 20px 위로 */
      right: 30px;
      /* 화면 오른쪽에서 30px 안쪽으로 */
      z-index: 99;
      /* 버튼이 다른 요소들 위에 오도록 설정 */
      font-size: 18px;
      /* 버튼 폰트 크기 */
      border: none;
      /* 버튼 테두리 없음 */
      outline: none;
      /* 버튼 외곽선 없음 */
      background-color: #050C9C;
      /* 버튼 배경색 */
      color: white;
      /* 버튼 텍스트 색상 */
      cursor: pointer;
      /* 마우스 커서를 포인터로 변경 */
      padding: 15px;
      /* 버튼 패딩 */
      border-radius: 4px;
      /* 버튼 테두리 둥글게 */
  }

  #scrollToTop:hover {
    background-color: #555;
      /* 버튼 호버 시 배경색 */
  }

  .navbar {
      transition: top 0.3s;
  }

  .navbar-hide {
      top: -80px;
  }

  .navbar-show {
      top: 0;
  }

  /* 추가된 CSS */
  .navbar-collapsed {
      display: none;
  }


  @media (max-width: 768px) {
      .custom-navbar-toggler {
          display: block;
      }
  }

  .navigation-wrap {
      position: fixed;
      top: -100px;
      width: 100%;
      transition: top 0.3s ease-in-out;
      z-index: 1000;
  }

  .navigation-wrap.show-nav {
      top: 0;
  }

  .pocket {
      width: 250px;
      height: 200px;
      background: #FDDE55;
      position: relative;
      margin: 110px auto 50px;
      /* 상단 마진을 110px로 변경하여 위로 40px 이동 */
      border-radius: 6px 6px 0 0;
      box-shadow: inset 0 0 0 5px #FDDE55,
          inset 125px 0 #FEEFAD;
      -webkit-animation: pocketAnim 1s ease-out 0 1 normal both;
      animation: pocketAnim 1s ease-out 0 1 normal both;
  }

  a {
    color: white; /* 기본 색상 */
    text-decoration: none; /* 밑줄 제거 */
}

/* 링크에 마우스를 올렸을 때 */
a:hover {
    color: white; /* 호버 상태에서 색상 유지 */
}

/* 방문한 링크 상태 */
a:visited {
    color: white; /* 방문한 링크 상태에서 색상 유지 */
}

/* 활성화된 링크 상태 */
a:active {
    color: white; /* 활성화된 상태에서 색상 유지 */
}