<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>해외여행 체크리스트</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div data-include-path="../../static/templates/header.html" class="header"></div>
    <hr>
    <p>여긴 수정 많이 해야 </p>
    <div class="content">
    <!-- 필요한 내용 삽입  -->

    </div>

    <hr>
    <div  data-include-path="../../static/templates/footer.html" class="footer"></div>

    <script src="../../static/include.js"></script>

    <script src="../user_doc.js"></script>
</body>
</html>
