body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.search-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}
.search-container div {
    margin-bottom: 15px;
}
.search-container label {
    display: block;
    margin-bottom: 5px;
}
.search-container input, .search-container select, .search-container button {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-container input:focus, .search-container select:focus, .search-container button:focus {
    outline: none;
    border-color: #007BFF;
}
.search-container button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #0056b3;
}
.date-group, .guest-group, .dropdown-group {
    display: flex;
    justify-content: space-between;
}
.date-group div, .guest-group div, .dropdown-group div {
    flex: 1;
    margin-right: 10px;
}
.date-group div:last-child, .guest-group div:last-child, .dropdown-group div:last-child {
    margin-right: 0;
}
.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-group button {
    margin-right: 10px;
    flex: 1;
}
.btn-group button:last-child {
    margin-right: 0;
}
.dropdown {
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    width: calc(100% - 22px);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}
.dropdown div {
    padding: 10px;
    cursor: pointer;
}
.dropdown div:hover {
    background-color: #f0f0f0;
}

.checkbox-group {
    display: flex; /* 플렉스 박스 사용 */
    flex-wrap: wrap; /* 필요시 줄 바꿈 */
}
.checkbox-group {
    display: flex; /* 플렉스 박스 사용 */
    flex-wrap: wrap; /* 필요시 줄 바꿈 */
}
.checkbox-group label {
    display: inline-flex; /* 인라인 플렉스 박스 사용 */
    align-items: center;
    margin-right: 30px; /* 레이블 간 간격 조절 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}
.checkbox-group input[type="checkbox"] {
    margin-right: 5px; /* 체크박스와 텍스트 간 간격 조절 */
    transform: scale(1.2); /* 체크박스 크기 조정 (선택 사항) */
}