<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>외교부 안전 공지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/newsletter.css">
    <script src="../jquery-3.7.1.min.js"></script>

</head>

<body>

    <div data-include-path="../../static/templates/header.html" class="header"></div>

    <main>

        <h1>외교부 안전 공지</h1>
        <ul class="notice-list" id="notice-list">
            <!-- CSV 데이터로 채워질 부분 -->
        </ul>
    </main>


    <script src="../newsletter.js">

    </script>
    <script src="../../static/sessioncheck.js"></script>
    <script src="../../static/include.js"></script>
</body>

</html>