<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div data-include-path="../../static/templates/header.html" class="header"></div>
    <hr>
    <div data-include-path="../../example/templates/example.html"></div>
    
    <!-- <div id="content">


        <p> 내용 들어갈 페이지</p>
        <p> 만약 모든 페이지에 공통으로 쓸꺼라면 내용 부분에 들어갈 html을 만들고</p>
        <p> 이 부분의 div에 data-include-path 똑같이 연결해주면 됨 </p>
        <p> 복사 해다 사용하고 마지막에 삭제</p>
        <br>

        <a href="../../example/templates/example.html"> <button> 테스트</button></a>
        <br>
    </div> -->
    <hr>
    <div  data-include-path="../../static/templates/footer.html" class="footer"></div>

    <script src="../../static/include.js"></script>
</body>
</html>