<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div data-include-path="../../static/templates/header.html" class="header"></div>
    <hr>

    <div class="content">
    <!-- 필요한 내용 삽입  -->

    </div>

    <hr>
    <div  data-include-path="../../static/templates/footer.html" class="footer"></div>

    <script src="../../static/include.js"></script>
</body>
</html>