<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Pocket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="hero-anime">
    <div class="navigation-wrap bg-light start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="https://front.codes/" target="_blank"><img src="https://assets.codepen.io/1462889/fcy.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="country">CheckList</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">NewsLetter</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ChatBot</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="login">Login / Join</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <main class="main-content">
        <section class="content-wrapper section" id="section1">
            <h1 class="main-title">입출국 정보의 모든 것</h1>
            <h1 class="main-title1">Travel Pocket 에서 쉽고 간편하게</h1>
            <div class="content">
                <div class="left">
                    <img id="airplane" src="free-icon-airplane-3575525.png" alt="Icon 1">
                    <a id="travel-question">당신의 여행지는 어디인가요?</a>
                </div>
                <div class="center">
                    <div class="image-box">
                        <img id="kangaroo" src="kangaroo_drawing_new-removebg-preview.png" alt="Kangaroo Character">
                    </div>
                </div>
                <div class="right">
                    <img id="pouch" src="free-icon-pouch-3958882.png" alt="Icon 2">
                    <a href="">당신의 주머니를 만들어주세요</a>
                </div>
            </div>
        </section>
        <section class="section" id="section2">
            <h2>두 번째 섹션</h2>
            <p>이곳은 두 번째 페이지의 내용입니다.</p>
        </section>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../jquery-3.7.1.min.js"></script>
    <script src="../main.js"></script>
    <script src="../animation.js"></script> <!-- 새로 추가된 JavaScript 파일 -->
    <script src="../scroll.js"></script> <!-- 스크롤 제어를 위한 JavaScript 파일 추가 -->
    <script src="../navigation.js"></script> <!-- 새로운 JavaScript 파일 추가 -->
</body>
</html>
