<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div data-include-path="../../static/templates/header.html" class="header"></div>
    <hr>
    <div id="content">

        <button type="menu" onclick="location.href='../templates/menu_bar.html'">메뉴바 여는 버튼</button>
        <br>

        <a href="../../main/templates/user_country.html"> <button> 유저 컨트리 </button></a>
        <br>
    </div>
    <hr>
    <div  data-include-path="../../static/templates/footer.html" class="footer"></div>

    <script src="../../static/include.js"></script>
</body>
</html>